@import url('http://fonts.googleapis.com/css?family=Cuprum&Bungie+shade');

/*
 * Globals
 */

/* Links */
a,
a:hover,
a:focus  {
  color: #fff;
}

.nav .navbar-nav > a {
    background:black;

}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 900px;
  background-color: #222;
  /*height: 100%; */
  /*min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */


/*
 * Cover
 */

.cover {
  padding: 0 120px;
}
.cover .btn-lg {
  padding: 0 20px;
  font-weight: bold;
}

.p-head {
    line-height: 1.7em;
}


/*
 * Carousel
 */

.carousel-inner > .item > img {
    margin: 0 auto;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

/*
 * About Page
 */

.site-wrapper-about {
  display: table;
  width: 100%;
  height: 900px;
  background-color: #f9f9f9;
  color: black;
  /*height: 100%; */
  /*min-height: 100%;*/
}


#about {
    margin: 0;
    padding: 0;
}



/*
 * Work Page
 */

.site-wrapper-work {
  display: table;
  width: 100%;
  height: 900px;
  background-color: black;
  /*height: 100%; */
  /*min-height: 100%;*/
}


#work {
    position: relative;
    margin: 0;
    padding-left: 160px;
}

/*
 * Resume Page
 */

.site-wrapper-resume {
  display: table;
  width: 100%;
  height: 900px;
  background-color: lightgrey;
  color: black;
  /*height: 100%; */
  /*min-height: 100%;*/
}

#resume {
    position: relative;
    margin: 0;
    padding-left: 160px;

}

.resume-cover p {
    font-size: 1.2em;
}



/*
 * Hire Page
 */

.site-wrapper-hire {
  display: table;
  width: 100%;
  height: 900px;
  background-color: purple;
  /*height: 100%; */
  /*min-height: 100%;*/
}

#hire {
    position: relative;
    margin: 0;
    padding-left: 160px;
}

.emailForm {	
    border:1px solid grey;	
    border-radius:10px;	
    margin-top:20px;
    width: 480px;	
}

.emailForm h1 {	
    margin:20px;
    width: 480px;	
}	

form {	
    padding:0 20px 20px 20px;	
	
	
}	